{% extends 'base.html.twig' %}

{% block title %}Détail{% endblock %}

{% block main %}
    <div id="main_detail">
        <h1 id="titre_detail">{{ hippodrome.nom }}</h1>
        <div id="conteneur_hippodrome">
            <div id="div_paint">
                <img src="{{ asset('img/paint.jpg') }}" id="paint">
            </div>
            <div id="hippodrome_titres">
                <p>Piste : </p>
                <p>Corde : à </p>
                <p>Circonférence : </p>
                <p>Région : </p>
                <p>Département : </p>
                <p>Ville à proximité : </p>
                <p>Surnom : </p>
            </div>
            <div id="hippodrome_infos">
                <p>{{ hippodrome.piste }}</p>
                <p>{{ hippodrome.corde }}</p>
                <p>{{ hippodrome.circonference }}</p>
                <p>{{ hippodrome.region }}</p>
                <p>{{ hippodrome.departement }}</p>
                <p>{{ hippodrome.ville }}</p>
                <p>{{ hippodrome.surnom }}</p>
            </div> 
        </div>    
    </div> 
{% endblock %}