{% extends 'base.html.twig' %}

{% block title %}Hippodromes{% endblock %}

{% block main %}
    <div id="main_hippodromes">
        <div id="conteneur">
            <div class="element">
                <img src="{{ asset('img/hippodrome-tourgeville.jpg') }}" class="mini">
                <img src="{{ asset('img/cagnes.jpg') }}" class="mini">
                <img src="{{ asset('img/strasbourg.jpg') }}" class="mini">
            </div>
            <div class="element" id="element_titre">
                <h1 id="titre_hippodromes">Hippodromes visités</h1>
            </div>
            <div class="element" id="element_paint">
                <img src="{{ asset('img/marseille_borely.jpg') }}" class="mini">
                <img src="{{ asset('img/saint_cloud.jpg') }}" class="mini">
                <img src="{{ asset('img/marseille_borely.jpg') }}" class="mini">
            </div>
        </div>
            {% for hippodrome in hippodromes %}
                    <p><a href="{{ path('hippodrome_detail', {'id': hippodrome.id}) }}" class="a_liste">{{ hippodrome.nom }}</a></p>
                {% endfor %}
        <a href="{{ path('newHippodrome') }}"><button class="btn btn-success">Enregistrer un nouvel hippodrome</button></a>
    </div>
{% endblock %}