{% extends 'base.html.twig' %}

{% block title %}Enregistrer un cheval{% endblock %}

{% block main %}
    <div id="main_newCheval">
        <h1>Enregistrement d'un cheval</h1>

        {{ form_start(formCheval) }}
        {{ form_row(formCheval.nom, {'label': 'Nom', 'attr': {'placeholder': 'Nom'}}) }}
        {{ form_row(formCheval.commentaire, {'label': 'Commentaire', 'attr': {'placeholder': 'Commentaire'}}) }}
        {{ form_row(formCheval.discipline, {'label': 'Discipline', 'attr': {'placeholder': 'Discipline'}}) }}
        <button type="submit" class="btn btn-success">Enregistrement</button>
        {{ form_end(formCheval) }}

    </div>
{% endblock %}